<!-- views/partials/header.ejs -->
<img id="logo" src="/images/logo.png">
<h1 id="logoTitle">What Yo Breathin?</h1>
<h2 id="subheader">Get pollution information by clicking your location on the map</h2>
<h2 id="profileLink">Visit your <a href="/Profile">profile</a> settings page.</h2>
